
   .custom-table .ant-table-thead > tr > th {
    background-color: #006064; 
    color: #fff; 
  }
 
  .ant-radio-group-solid :where(.css-ccdg5a).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    color: white !important;
    background-color: #006064 !important;
    outline: none;
    border: none;
  }
   :where(.css-ccdg5a).ant-pagination .ant-pagination-item-active a,.ant-pagination-item-active{
    color: #006064 !important;
    border-color: #006064 !important;
  }
  :where(.css-ccdg5a).ant-radio-button-wrapper:hover ,:where(.css-ccdg5a).ant-table-wrapper .ant-table-row-expand-icon:hover ,.ant-table-row-expand-icon{
    color:  #006064 !important;
  }
  :where(.css-ccdg5a).ant-input-outlined:hover ,:where(.css-ccdg5a).ant-picker-outlined:hover,.ant-select-selector:hover {
border-color: #006064 !important;
  }
  .frocast{
    width: 145px !important;
    background-color: #006064 !important;
  }
  
  .frocast:hover{
    background-color: #006064 !important;
  }
  
  .button_wrap{
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .insidediv{

    padding: 0;
    margin: 0;
  }
  .insidediv .ant-btn{
    height: unset;
  } 
  .whatifbutton{
    background-color:#E8E8E8 !important;
    color:#006064 !important;
    outline: none;border: none;
    width: 101px;
    height: 28px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;

  }

  .whatifbutton:hover{
    color: white !important;
    background-color:#006064 !important;
  
  }
  .custom-table table td{
    padding: 8px 12px  !important;
  }
  .custom-table  > tr > th {
    background-color: #006064 !important;
    color: #fff !important;
  }
  .ant-table-wrapper .ant-table-cell{
    padding: 8px 12px  !important;
  }